:root {
    --darker: rgb(0, 0, 0);
    --dark: rgb(99, 99, 99);
    --light: rgb(233, 233, 233);
    --nav: rgb(255, 70, 45);
    --link: rgb(32, 107, 194);
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--light);
}

a {
    color: var(--link);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#skipnav {
    position: absolute;
    left: -100em;
}

header {
    background-color: var(--darker);
    height: 50px;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}

#nav {
    display: flex;
    flex-direction: row;
}

#nav li {
    margin:auto;
    padding: 1rem;
}

#nav li a {
    color: var(--nav);
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
}

#banner {
    background-image: url("cat.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: center;
    height: 250px;
    
}

main {
    display: flex;
    flex-direction: column;
    width: 900px;
    margin: 0 auto;
    background-color: white;
    height: calc(100vh - 50px);
}

@media only screen and (max-width: 900px) {
    main {
      width: 100%;
    }
  }

h1 {
    font-size: 2rem;
    font-weight: bold;
    font-family: 'Josefin Sans', sans-serif;
    margin: 1.5rem auto;
    text-transform: uppercase;
}

p {
    padding-bottom: 1rem;
}

#info {
    padding: 0 50px;
}

footer {
    margin: auto auto 0 auto;
    padding: 1rem 0;
    width: fit-content;
    align-self: flex-end;
    color: var(--dark);
    font-size: 0.9rem;
    display: flex;
    flex-direction: column;
}

footer * {
    padding: 0;
    margin: auto;
}
