:root {
    --darker: rgb(0,0,0);
    --dark: rgb(99, 99, 99);
    --light: rgb(233, 233, 233);
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--light);
}


#skipnav {
    position: absolute;
    left: -100em;
}

header {
    background-color: var(--darker);
    height: 50px;
    display: flex;
    justify-content: center;
}

#banner {
    background-image: url("cat.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: center;
    height: 250px;
    
}

main {
    display: flex;
    flex-direction: column;
    width: 800px;
    margin: 0 auto;
    background-color: white;
    height: calc(100vh - 50px);
}

@media only screen and (max-width: 800px) {
    main {
      width: 100%;
    }
  }

h1 {
    font-size: 2rem;
    font-weight: bold;
    font-family: 'Josefin Sans', sans-serif;
    margin: 1rem auto;
}

p {
    padding-bottom: 1rem;
}

#info {
    padding: 0 50px;
}

footer {
    margin: auto auto 0 auto;
    padding-bottom: 1rem;
    width: fit-content;
    align-self: flex-end;
    color: var(--dark);
    font-size: 0.9rem;
}