:root {
    --darker: rgb(0, 0, 0);
    --dark: rgb(99, 99, 99);
    --light: rgb(233, 233, 233);
    --nav: rgb(255, 70, 45);
    --link: rgb(32, 107, 194);
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: var(--light);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

a {
    color: var(--link);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#skipnav {
    position: absolute;
    left: -100em;
}

header {
    background-color: var(--darker);
    height: 3rem;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    margin-bottom: 1.5rem;
}

#nav {
    display: flex;
    flex-direction: row;
}

#nav li {
    margin:auto;
    padding: 1rem;
}

#nav li a {
    color: var(--nav);
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
    font-size: 1.2rem;
}

#banner {
    background-image: url("cat.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: center;
    height: 250px;
    
}

main {
    display: flex;
    flex-direction: column;
    width: 900px;
    margin: 0 auto;
    background-color: white;
    flex-grow: 2;
    padding-bottom: 1.5rem;
}

/*******************************************************************************
* GENERAL TEXT STYLES
*/

h1, h2, th {
    font-size: 2rem;
    font-weight: bold;
    font-family: 'Josefin Sans', sans-serif;
    margin: 2rem auto 1.5rem auto;
    text-transform: uppercase;
}

h2 {
    font-size: 1.2rem;
    margin: -1.2rem auto 1rem auto;
}

th {
    font-size: 1.2rem;
}

p {
    padding-bottom: 1rem;
    font-size: 1rem;
    line-height: 200%;
}

/*******************************************************************************
* TABLE STYLES
*/

table {
    table-layout: auto;
    margin: 1.5rem 1.5rem 0 1.5rem;
}

table tr:nth-child(even) {
    background-color: var(--light);
}

td {
    padding: 1rem;
}

thead tr th {
    border-bottom: solid 2px black;
}

#story_list tr td:first-child {
    width: 20%;
    text-align: center;
}

#story_list tr td:nth-child(3) {
    width: 10%;
    text-align: center;
}



#author, #return {
    text-align: center;
}

#info {
    padding: 0 50px;
}

footer {
    margin: auto auto 0 auto;
    padding: 1rem 0;
    width: fit-content;
    align-self: flex-end;
    color: var(--dark);
    display: flex;
    flex-direction: column;
}

footer * {
    font-size: 0.9rem;
}

footer * {
    padding: 0;
    margin: auto;
}

@media only screen and (max-width: 900px) {
    header {
        margin-bottom: 0;
    }
    main {
      width: 100%;
    }
}

@media (min-resolution: 150dpi) {
    :root {
        font-size: 2rem;
    }
    #banner {
        height: 400px;
    }
    header {
        margin-bottom: 0;
    }
    main {
      width: 100%;
    }
    table {
        margin: 0;
    }
}